name: Test and maybe publish
on:
  push:
    branches:
      - master
jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "pnpm"
      - run: pnpm install
      - name: Build and test
        run: pnpm test
      - name: Show changes
        run: git diff
      # - name: Publish Packages
      #   env:
      #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      #   run: |
      #     pnpm config set "//registry.npmjs.org/:_authToken" "${NPM_TOKEN}"
      #     pnpm --recursive --parallel exec bash ../../scripts/publish.sh
      #     git push --tags
